---
import Bio from "@components/Bio.astro";
import GitHubStats from "@components/GitHubStats.astro";
import Post from "../layouts/BlogPost.astro";
import ModelWindow from "@components/ModelWindow.astro";
import ExternalContent from "@components/ExternalContent.astro";
---

<Post
	title="Welcome"
	showMeta={false}
	hideTitle={true}
	description="Therosin's portfolio."
	hideDescription={true}
	tags={["about"]}
	pubDate={new Date("March 31 2023")}
	updatedDate={new Date("March 31 2023")}
	imageSize="600"
	isDraft={false}
>
	<section class="about-wrapper">
		<div class="bio-wrapper">
			<Bio class="intro-text">
				<span class="intro-text-header">Hi There,</span>
				<p>
					I'm Theros, a Computer Science student at the Open
					University with focus on Networking and Security.
					With a decade of experience in technology, I've gained a wealth of
					knowledge and expertise in various areas, including software
					and web development, server administration, and computer
					repair. I'm proficient in multiple programming languages and
					always eager to expand my skill set.
				</p>
			</Bio>
		</div>
		<!-- <div class="github-wrapper">
			<GitHubStats
				username="Therosin"
				theme="city_lights"
				show_icons={true}
				hide_title={false}
				hide_border={true}
				card_width="300"
			/>
		</div> -->
	</section>

	<section class="bio-meta">
		<div class="bio-skills">
			<h4>Skills:</h4>
			<hr />
			<ul>
				<li>Proficient in JavaScript, HTML, Lua, and Python</li>
				<li>
					Experience developing various software and web applications,
					including full-stack web development using JavaScript, HTML,
					and CSS, as well as server-side programming using Lua and
					Python.
				</li>
				<li>Experience with Git and GitHub for version control</li>
				<li>
					Proficient in using the Linux/Unix command line interface
					and have honed my skills in server configuration and
					maintenance through years of personal experience
				</li>
				<li>
					Experience using Proxmox for virtualization and Docker for
					development purposes.
				</li>
				<li>
					Understanding of networking concepts such as TCP/IP and
					routing protocols
				</li>
			</ul>
		</div>
		<div class="bio-edu">
			<h4>Education:</h4>
			<hr />
			<ul>
				<li>
					<p>
						BSc Computing and IT, Open University.
						<br /> Relevant Modules:
					</p>
					<ul>
						<li>
							[Completed]
							<ModelWindow
								id="TM111"
								caption="TM111"
								title="TM111: Introduction to computing and information technology 1"
							>
								<ExternalContent
									src="https://css2.open.ac.uk/outis/descs/courses/TM111.htm"
									altText="TM111: Introduction to computing and information technology 1"
								/>
							</ModelWindow>
						</li>
						<li>
							[In Progress]
							<ModelWindow
								id="TM112"
								caption="TM112"
								title="TM112: Introduction to computing and information technology 2"
							>
								<ExternalContent
									src="https://css2.open.ac.uk/outis/descs/courses/TM112.htm"
									altText="TM112: Introduction to computing and information technology 2"
								/>
							</ModelWindow>
						</li>
					</ul>
					<i>Expected Graduation: 2025</i>
				</li>
			</ul>
		</div>
	</section>
</Post>

<style lang="scss" scoped>
	.about-wrapper {
		display: flex;
		flex-direction: row;
		justify-content: space-evenly;
		margin: 0 auto 2rem auto;
	}

	.bio-wrapper {
		display: flex;
		flex-direction: column;
		vertical-align: middle;
		justify-content: center;
		width: 60rem;
	}

	.bio-wrapper p {
		margin: 0 0 0.5rem 0;
	}

	.intro-text-header {
		font-size: 1.4rem;
		font-weight: 600;
		font-style: italic;
	}

	.intro-text {
		font-size: 1.2rem;
		font-weight: 400;
	}

	.github-wrapper {
		display: flex;
		flex-direction: column;
		vertical-align: bottom;
		justify-content: center;
		min-width: 30rem;
	}

	.bio-meta {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: flex-start;
		margin: 0 auto;
		max-width: 100rem;
		gap: 2rem;
	}

	.bio-skills {
		width: 60rem;
	}

	.bio-edu {
		width: 40rem;
	}
</style>
